{{ define "sizing_board" -}}
<!DOCTYPE html>
<html lang="en">
<head>
{{ template "head" "Sizing Board" }}
</head>
<body>
<section class="section estimation">
    <p><a href="">estimation</a> / sizing</p>
    <div class="content">
        <div class="columns" id="sizing">
            <div class="column is-two-thirds">
                <ul>
                {{ range $index, $el := .Issues.Other }}
                    <li><div class="issue" draggable="true">{{ .Fields.Summary }}</div></li>
                {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
<script>
    "use strict";

    let dragSrcEl = null;

    function handleDragStart(e) {
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', e.target.innerHTML);

        dragSrcEl = this;
    }

    function handleDragOver(e) {
        if (e.preventDefault) {
            e.preventDefault(); // Necessary. Allows us to drop.
        }

        e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.

        return false;
    }

    function handleDragEnter(e) {
        // this / e.target is the current hover target.
        this.classList.add('over');
    }

    function handleDragLeave(e) {
        this.classList.remove('over');  // this / e.target is previous target element.
    }

    function handleDrop(e) {
        // this / e.target is current target element.

        if (e.stopPropagation) {
            e.stopPropagation(); // stops the browser from redirecting.
        }

        // See the section on the DataTransfer object.
        if (dragSrcEl !== this) {
            // Set the source column's HTML to the HTML of the column we dropped on.
            dragSrcEl.innerHTML = this.innerHTML;
            this.innerHTML = e.dataTransfer.getData('text/html');
        }

        return false;
    }

    function handleDragEnd(e) {
        // this/e.target is the source node.

        [].forEach.call(cols, function (col) {
            col.classList.remove('over');
        });
    }


    let cols = document.querySelectorAll('.columns .issue');
    [].forEach.call(cols, function(col) {
        col.addEventListener('dragstart', handleDragStart, false);
        col.addEventListener('dragenter', handleDragEnter, false);
        col.addEventListener('dragover', handleDragOver, false);
        col.addEventListener('dragleave', handleDragLeave, false);
        col.addEventListener('drop', handleDrop, false);
        col.addEventListener('dragend', handleDragEnd, false);
    });

</script>
</body>
</html>
{{- end }}

{{ define "login" -}}
<!DOCTYPE html>
<html lang="en">
<head>
{{ template "head" "Wallie Login" }}
</head>
<body>
    <div class="modal is-active">
        <div class="modal-background"></div>

        <div class="modal-card">
            <section class="modal-card-body has-background-light">
                <h2 class="title">Wallie Login</h2>

                <form method="post" action="/login">
                    <div class="field">
                        <p class="control has-icons-left is-expanded">
                            <input class="input" type="email" name="email" placeholder="Email">
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control has-icons-left is-expanded">
                            <input class="input" type="password" name="password" placeholder="Password">
                            <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control">
                            <button class="button is-success is-pulled-right">
                                Login &raquo;
                            </button>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>
</html>
{{- end }}

{{ define "login_redirect" -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        document.location = '{{ . }}';
    </script>
</head>
<body>
<p><a href="{{ . }}">{{ . }}</a></p>
</body>
</html>
{{- end }}

{{ define "estimation_board" -}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" "Estimation Board" }}
</head>
<body>
<div class="modal" id="modal">
    <div class="modal-background" id="background"></div>
    <div class="modal-card">
        <section class="modal-card-body has-background-light">
            <form method="post">
                <p id="modalTitle" class="is-pulled-right"></p>
                <input  name="key" type="hidden" id="modalKey"/>

                <div class="field">
                    <label class="label" for="modalSummary">Summary</label>
                    <div class="control">
                        <input name="summary" type="text" class="input" id="modalSummary"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="modalDescription">Description</label>
                    <div class="control">
                        <textarea name="description" class="textarea" rows="16" id="modalDescription"></textarea>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="control">
                            <button name="size" class="button is-fullwidth" type="submit" value="XS">XS (1)</button>
                        </div>
                    </div>

                    <div class="column">
                        <div class="control">
                        <button name="size" class="button is-fullwidth" type="submit" value="S">S (2)</button>
                        </div>
                    </div>

                    <div class="column">
                        <div class="control">
                        <button name="size" class="button is-fullwidth" type="submit" value="M">M (3)</button>
                        </div>
                    </div>

                    <!--
                    <div class="column">
                        <div class="control">
                        <button name="size" class="button is-fullwidth" type="submit" value="L">L (5)</button>
                        </div>
                    </div>
                    -->

                    <div class="column">
                        <div class="control">
                            <button name="size" class="button is-fullwidth" type="submit" value="XL">XL (10)</button>
                        </div>
                    </div>

                    <div class="column">
                        <div class="control">
                            <button name="size" class="button is-fullwidth" type="submit" value="XXL">XXL (20)</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<section class="section estimation">
    <div class="columns" id="wall">
        <div class="column has-background-light">
            <h2 class="title is-5 has-text-centered">To estimate</h2>
            {{ range $index, $el := .Issues.Other }}
                {{- template "sized-card" $el -}}
            {{ end }}
        </div>

        <div class="column">
            <h2 class="title is-5 has-text-centered has-text-grey">XS</h2>
            <div class="collapsable">
            {{ range $index, $el := .Issues.ExtraSmall }}
                {{- template "sized-card" $el -}}
            {{ end }}
            </div>
        </div>

        <div class="column">
            <h2 class="title is-5 has-text-centered has-text-grey">S</h2>
            <div class="collapsable">
            {{ range $index, $el := .Issues.Small }}
                {{- template "sized-card" $el -}}
            {{ end }}
            </div>
        </div>

        <div class="column">
            <h2 class="title is-5 has-text-centered has-text-grey">M</h2>
            <div class="collapsable">
            {{ range $index, $el := .Issues.Medium }}
                {{- template "sized-card" $el -}}
            {{ end }}
            </div>
        </div>

        <!--
        <div class="column">
            <h2 class="title is-5 has-text-centered has-text-grey">L</h2>
            <div class="collapsable">
            {{ range $index, $el := .Issues.Large }}
                {{- template "sized-card" $el -}}
            {{ end }}
            </div>
        </div>
        -->

        <div class="column">
            <h2 class="title is-5 has-text-centered has-text-grey">XL</h2>
            <div class="collapsable">
            {{ range $index, $el := .Issues.ExtraLarge }}
                {{- template "sized-card" $el -}}
            {{ end }}
            </div>
        </div>

        <div class="column">
            <h2 class="title is-5 has-text-centered has-text-grey">XXL</h2>
            <div class="collapsable">
            {{ range $index, $el := .Issues.ExtraExtraLarge }}
                {{- template "sized-card" $el -}}
            {{ end }}
            </div>
        </div>
    </div>
</section>
<script>
    "use strict";

    let modal = document.getElementById('modal');
    let modalKey = document.getElementById('modalKey');
    let modalTitle = document.getElementById('modalTitle');
    let modalDescription = document.getElementById('modalDescription');
    let modalSummary = document.getElementById('modalSummary');
    let modalButtons = modal.getElementsByClassName('button');

    function anchor(text, href) {
        let anchorNode = document.createElement('a');
        let textNode = document.createTextNode(text);
        anchorNode.appendChild(textNode);
        anchorNode.href = href;
        return anchorNode;
    }

    function greySpan(text) {
        let span = document.createElement('span');
        let textNode = document.createTextNode(text);
        span.className = 'has-text-grey';
        span.appendChild(textNode);
        return span;
    }

    function removeAll(node) {
        while (node.firstChild) {
            node.removeChild(node.firstChild)
        }
    }

    function showModal(el) {
        return function() {
            let summary = el.dataset.summary;
            let key = el.dataset.key;
            let description = el.dataset.description;
            let priority = el.dataset.priority;
            let ticket = anchor(key, "{{- .JiraBase -}}/browse/" + key);
            let reporter = greySpan(el.dataset.reporter + " / ");

            removeAll(modalTitle);

            // set labels
            modalTitle.appendChild(reporter);
            modalTitle.appendChild(ticket);

            // set form fields
            modalKey.value = key;
            modalSummary.value = summary;
            modalDescription.value = description;

            // reset all estimation buttons to grey
            for (let i = 0; i < modalButtons.length; i++) {
                modalButtons[i].className = 'button is-fullwidth';
            }

            // highlight current priority button
            switch (priority) {
                case '1':
                    modalButtons[0].className = 'is-primary button is-fullwidth';
                    break;
                case '2':
                    modalButtons[1].className = 'is-primary button is-fullwidth';
                    break;
                case '3':
                    modalButtons[2].className = 'is-primary button is-fullwidth';
                    break;
                case '-1':
                    modalButtons[3].className = 'is-primary button is-fullwidth';
                    break;
            }
            modal.className = 'modal is-active';
        };
    }

    function main() {
        let bg = document.getElementById('background');
        let wall = document.getElementById('wall');
        let cards = wall.getElementsByClassName('card');

        bg.addEventListener('click', function() { modal.className = 'modal'; });

        for (let i = 0; i < cards.length; i++) {
            cards[i].addEventListener('click', showModal(cards[i]));
        }
    }

    main();
</script>
</body>
</html>
{{- end }}

{{ define "head" }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ . }}</title>

<link href="https://fonts.googleapis.com/css?family=Domine|Open+Sans|Inconsolata" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<style>
    body, button, input, select {
        font-family: 'Open Sans', sans-serif;
    }
    textarea {
        font-family: 'Inconsolata', monospace;
    }
    #wall h2.title {
        padding-top:1.25rem;
    }
    .title {
        font-family: 'Domine', serif;
    }
    .card, .modal-card {
        border-radius: 0.3rem;
        margin-bottom: 0.75rem;
    }
    .card-footer .column {
        padding-top:0;
        padding-bottom:0;
    }
    #wall .card-content {
        padding: 0.5rem 0.75rem;
        min-height:7.5em;
    }
    #sizing .card-content {
        padding: 0.5rem 0.75rem;
        min-height:3.75em;
    }
    .collapsable {
        min-height:100%;
    }
    .collapsable .card:not(:first-child) {
        display:none;
    }
    .collapsable:hover .card:not(:first-child) {
        display:block;
    }
    .estimation {
        padding:1px 0.75rem;
    }
    #sizing li {
        list-style:none;
        margin:0;
        padding:0;
    }
    .issue {
        background-color:white;
        border: 1px solid hotpink;
        margin:0;
        padding:1em 0.75em;
    }
    .over {
        border: 1px dashed #000;
    }
    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }
</style>
{{ end }}

{{ define "sized-card" }}
<div class="card" data-summary="{{ .Fields.Summary }}" data-key="{{ .Key }}" data-description="{{ .Fields.Description }}" {{ if .Fields.StoryPoints }}data-priority="{{ .Fields.StoryPoints }}"{{ end }} data-reporter="{{ .Fields.Reporter.DisplayName }}">
    <div class="card-content">
        <div class="content">
        {{ .Fields.Summary }} <span class="has-text-grey-light">{{ .Key }}</span>
        </div>
    </div>
</div>
{{ end }}
