{{- define "story_estimation_head" -}}
<!DOCTYPE html>
<html>

<head>
    {{- template "story_head" "Backlog Estimation" -}}
</head>
{{- end -}}

{{- define "mine_head" -}}
<!DOCTYPE html>
<html>

<head>
    {{- template "story_head" "Backlog Estimation" -}}
</head>
{{- end -}}

{{- define "story_flow_head" -}}
<!DOCTYPE html>
<html>

<head>
    {{- template "story_head" "Backlog Estimation" -}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/britecharts/3.0.0/css/britecharts.min.css" integrity="sha256-6V0QCvZgxcaKbj4OQmzOFgtC7yXuS6/xFB8q9OFk01k=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/britecharts/3.0.0/css/charts/stacked-area.min.css" integrity="sha256-V0rEMPrXAKkSnqvmJ3Dp3gjNnVeXpCEJVU26kS89cVg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css" integrity="sha256-Te9+aTaL9j0U5PzLhtAHt+SXlgIT8KT9VkyOZn68hak=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js" integrity="sha256-va1Vhe+all/yVFhzgwmwBgWMVfLHjXlNJfvsrjUBRgk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.js" integrity="sha256-ecMZjeiA/pSkp5neBcgNy+5LhWaw5+CZTAldMlhfxnk=" crossorigin="anonymous"></script>

    <style>
        #cfd .ct-area {
            fill:gray;
        }

        #lead .ct-bar {
            stroke:gray;
            stroke-opacity: .1;
        }

        #lead {
            margin-bottom:1.5em;
        }
    </style>

    <script>
        "use strict";
        window.addEventListener("load", function() {
            console.log('Load');
            var cfdData = {
                // A labels array that can contain any sort of values
                labels: ['18 July 21', '18 Aug 06', '18 Aug 21', '18 Sept 06', '18 Sept 21', '18 Oct 06'],
                // Our series array that contains series objects or in this case series data arrays
                series: [
                    [1, 1, 3, 4, 5, 6, 6],
                    [2, 3, 3, 5, 6, 6, 7],
                    [5, 5, 6, 6, 6, 9, 9]
                ]
            };

            var cfdOptions = {
                high: 6.5,
                low: 0,
                showArea: true,
                showLine: false,
                showPoint: false,
                fullWidth: true,
                axisX: {
                    showLabel: true,
                    showGrid: true
                },
                axisY: {
                    onlyInteger: true,
                },
                lineSmooth: Chartist.Interpolation.none({
                    fillHoles: false
                })
            };

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
            new Chartist.Line('#cfd', cfdData, cfdOptions);

            var leadData = {
                labels: ['<=1d', '<=2d', '<=3d', '<=5d', '<=8d', '<=13d', '>13d'],
                series: [
                    [5, 4, 3, 7, 5, 10, 3],
                ]
            };
            var leadOptions = {
                seriesBarDistance: 15,
                reverseData: true,
                horizontalBars: true,
                axisY: {
                    offset: 50
                }
            };
            new Chartist.Bar('#lead', leadData, leadOptions);
        });
    </script>
</head>
{{- end -}}

{{- define "story_flow_content" -}}
<body>
    <section class="section">
        <div class="columns">
            <div class="column is-three-fifths content">
                <h5 class="is-marginless title">Cumulative Flow (last 90 days)</h5>
                <div class="ct-chart ct-major-third" id="cfd"></div>
            </div>

            <div class="column is-two-fifths content">
                <h5 class="is-marginless title">Scope</h5>
                <p>106 stories in backlog expected completion date of <strong>2019, Jan 13th</strong>.<br/>
                <a href=""><i class="far fa-question-circle"></i> What if</a></p>

                <h5 class="is-marginless title">Lead Time</h5>
                <div class="ct-chart ct-golden-section" id="lead"></div>

                <h5 class="title is-marginless">Weekly Stats</h5>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>WIP</th>
                            <th>Scope</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><th>Min</th><td>2</td><td>0</td></tr>
                        <tr><th>Median</th><td>3</td><td>1</td></tr>
                        <tr><th>Max</th><td>3</td><td>8</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    {{- template "footer" . -}}
</body>

</html>
{{- end -}}

{{- define "story_estimation_content" -}}
<body>
    {{- template "story_estimate_dialogue" . -}}
    {{- template "story_estimate_backlog" . -}}
    {{- template "footer" . -}}
    {{- template "story_script" . -}}
</body>

</html>
{{- end -}}

{{- define "story_estimate_dialogue" -}}
<div class="modal" id="modal">
    <div class="modal-background" id="background"></div>
    <div class="modal-card">
        <section class="modal-card-body has-background-light">
            <form method="post">
                <p id="modalTitle" class="is-pulled-right"></p>
                <input name="id" type="hidden" id="modalKey" />

                <div class="field">
                    <label class="label" for="modalSummary">Title</label>
                    <div class="control">
                        <input name="title" type="text" class="input" id="modalSummary" />
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="modalDescription">Description</label>
                    <div class="control">
                        <textarea name="description" class="textarea" rows="16" id="modalDescription"></textarea>
                    </div>
                </div>

                <div class="columns">
                    {{ range $index, $size := .Sizes }}
                    <div class="column">
                        <div class="control">
                            <button name="size" class="button is-fullwidth" type="submit" value="{{ $size }}">
                                {{ $size }}
                            </button>
                        </div>
                    </div>
                    {{ end }}

                    <div class="column">
                        <div class="control">
                            <button name="size" class="button is-fullwidth" type="submit">
                                <i class="far fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{{- end -}}

{{- define "story_estimate_backlog" -}}
<section class="section estimation">
    <div class="columns" id="wall">
        {{ range $i, $group := .BySize -}}
        {{ template "story_group" $group -}}
        {{ end -}}
    </div>
</section>
{{- end -}}

{{- define "footer" -}}
<footer class="footer has-background-grey-lighter">
    <div class="content">
        <div class="columns">
            <div class="column is-two-thirds has-text-grey-light">
                <a href="/mine?project={{ .Project }}"><i class="far fa-user"></i> my issues</a> |
                <a href="/tshirt?project={{ .Project }}"><i class="fas fa-tshirt"></i> tshirt estimates</a> |
                <a href="/relative?project={{ .Project }}"><i class="fas fa-ruler"></i> relative sizing</a> |
                <a href="/kanban?project={{ .Project }}"><i class="fas fa-chalkboard"></i> kanban board</a> |
                <a href="/flow?project={{ .Project }}"><i class="fas fa-chart-area"></i> cumulative flow</a>
            </div>

            <div class="column is-one-third">
                <p class="has-text-right">
                    {{ .Count }} issues in view.
                    Create a <a id="newStory"><i class="fas fa-plus-circle"></i> new issue</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
{{- end -}}

{{- define "story_group" -}}
<div class="column">
    <h2 class="title is-5 has-text-centered has-text-grey">{{ .Name }}</h2>
    <div class="collapsable">
        {{ range $index, $el := .Stories }}
        {{- template "story_card" $el -}}
        {{ end }}
        <p class="has-text-grey-light has-text-centered">{{ len .Stories }} stories</p>
    </div>
</div>
{{- end -}}

{{- define "story_card" -}}
<div class="card" data-author="{{ .Author }}" data-description="{{ .Description }}" data-id="{{ .ID }}" {{ if .Size }}
    data-size="{{ .Size }}" {{ end }} data-title="{{ .Title }}">
    <div class="card-content">
        <div class="content">
            {{- .Title }}
            <span class="has-text-grey-light story-id">{{ .ID }}</span>
        </div>
    </div>
</div>
{{- end -}}

{{- define "story_head" -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ . }}</title>
<link href="https://fonts.googleapis.com/css?family=Domine|Open+Sans|Inconsolata" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<style>
    body,
    button,
    input,
    select {
        font-family: 'Open Sans', sans-serif;
    }

    a:hover {
        color: #3273dc;
        text-decoration: underline;
    }

    textarea {
        font-family: 'Inconsolata', monospace;
    }

    #wall h2.title {
        padding-top: 1.25rem;
    }

    .title {
        font-family: 'Domine', serif;
    }

    .card,
    .modal-card {
        border-radius: 0.3rem;
        margin-bottom: 0.75rem;
    }

    .card-footer .column {
        padding-top: 0;
        padding-bottom: 0;
    }

    #wall .card-content {
        padding: 0.5rem 0.75rem;
        min-height: 7.5em;
    }

    #wall .column:first-child
    {
        background-color: #f5f5f5 !important;
        min-height: 100vh;
    }

    #wall .column {
        padding-bottom: 6rem;
    }

    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    #wall .column:first-child h2.title {
        color: #363636 !important;
    }

    #wall .column:first-child .card:not(:first-child) {
        display: block;
    }

    #sizing .card-content {
        padding: 0.5rem 0.75rem;
        min-height: 3.75em;
    }

    .collapsable {
        min-height: 100%;
    }

    .collapsable .card:not(:first-child) {
        display: none;
    }

    .collapsable:hover .card:not(:first-child) {
        display: block;
    }

    .estimation {
        padding: 1px 0.75rem;
    }

    .story-id {
        white-space: nowrap;
    }

    #sizing li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .issue {
        background-color: white;
        border: 1px solid hotpink;
        margin: 0;
        padding: 1em 0.75em;
    }

    .over {
        border: 1px dashed #000;
    }

    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }
</style>
{{- end -}}

{{- define "story_script" -}}
<script>
    "use strict";

    let modal = document.getElementById('modal');
    let modalKey = document.getElementById('modalKey');
    let modalTitle = document.getElementById('modalTitle');
    let modalDescription = document.getElementById('modalDescription');
    let modalSummary = document.getElementById('modalSummary');
    let modalButtons = modal.getElementsByClassName('button');
    let newStory = document.getElementById('newStory');

    function anchor(text, href) {
        let anchorNode = document.createElement('a');
        let textNode = document.createTextNode(text);
        anchorNode.appendChild(textNode);
        anchorNode.href = href;
        return anchorNode;
    }

    function greySpan(text) {
        let span = document.createElement('span');
        let textNode = document.createTextNode(text);
        span.className = 'has-text-grey';
        span.appendChild(textNode);
        return span;
    }

    function removeAll(node) {
        while (node.firstChild) {
            node.removeChild(node.firstChild)
        }
    }

    function showModal(el) {
        return function (event) {
            if (event.stopPropagation) {
                event.stopPropagation();
            }

            let summary = el.dataset.title;
            let key = el.dataset.id;
            let description = el.dataset.description;
            let priority = el.dataset.size;
            let ticket = anchor(key, "{{- .BaseURL -}}" + key);
            let reporter = greySpan(el.dataset.author + " / ");

            removeAll(modalTitle);

            // set labels
            if (el.dataset.author != "" && el.dataset.id != "") {
                modalTitle.appendChild(reporter);
                modalTitle.appendChild(ticket);
            }

            // set form fields
            modalKey.value = key;
            modalSummary.value = summary;
            modalDescription.value = description;

            // reset all estimation buttons to grey
            for (let i = 0; i < modalButtons.length; i++) {
                modalButtons[i].className = 'button is-fullwidth';
            }

            // highlight current priority button
            switch (priority) {
                case '1':
                case 'XS':
                    modalButtons[0].className = 'is-primary button is-fullwidth';
                    break;
                case '2':
                case 'S':
                    modalButtons[1].className = 'is-primary button is-fullwidth';
                    break;
                case '3':
                case 'M':
                    modalButtons[2].className = 'is-primary button is-fullwidth';
                    break;
                case '5':
                case 'L':
                    modalButtons[3].className = 'is-primary button is-fullwidth';
                    break;
                case '8':
                case '10':
                case 'XL':
                    modalButtons[4].className = 'is-primary button is-fullwidth';
                    break;
                case '13':
                case '20':
                case 'XXL':
                    modalButtons[5].className = 'is-primary button is-fullwidth';
                    break;
            }
            modal.className = 'modal is-active';

            return false;
        };
    }

    function main() {
        let bg = document.getElementById('background');
        let wall = document.getElementById('wall');
        let cards = wall.getElementsByClassName('card');

        bg.addEventListener('click', function () { modal.className = 'modal'; });

        var empty = {
            'dataset': {
                'author': "",
                'description': "",
                'title': "",
                'id': ""
            }
        };
        newStory.addEventListener('click', showModal(empty));
        for (let i = 0; i < cards.length; i++) {
            cards[i].addEventListener('click', showModal(cards[i]));
        }
    }

    main();
</script>
{{- end -}}